div.leadBubble {
    background: url("../img/branding/GRIFFIN_Logo_Black.png");
    opacity: 0.15;
    background-position: center;
    background-size: 20em;
    background-repeat: no-repeat;
}

img.logoGallery{
    width: 100%;
}

table.logos td{
    padding: 1em;
}

.white{
    background-color: #EEEEEE;
    padding: 2px;
}