/*splash*/

div.leadBubble {
    background: linear-gradient( 0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7) ), url("../img/grifC.jpg");
    background-position: center;
    background-size: cover;
}

/*images*/

img.daqPic{
    width: 100%;
}

h2.subheading {
    border-bottom: none !important;
}