/*general*/

div.row {
    margin: 0 15% 0 15%;
}

div.innerWrap {
    padding: 5%;
}

img.inline {
    width: 100%;
}

div.stub {
    background: linear-gradient( 0deg, rgba(255,255,255,0.4), rgba(255,255,255,0.4) ), url("../img/greyBKG.png");
    background-position: bottom;
    border: 2px solid #FFFFFF;
    min-height: 350px;
}

div.detail {
    padding: 1em;
}

@media (max-width: 992px) {
    div.stub{
        min-height: 0px;
    }
}

div.center {
    text-align: center;
}

img.linkImg {
    opacity: 0.8;
}

img.linkImg:hover{
    opacity: 1;
}

/*navbar*/

nav.navbar-custom  img.logo {
    height: 100%;
}

nav.navbar-custom {
    margin-bottom: 0px;
}

/*jumbotron / splash*/

div.jumbotron-custom {
    padding: 0;
    background-color: #FFFFFF;
    position: relative;
    margin: 3em 5% 3em 5%;
    display: inline-block;
    height:30em;
}

p.splashText {
    font-size: 150%;
}

div.leadBubble {
    background-size: cover;
    height: 30em;
    width: 30em;
    border-radius: 15em;
    margin-bottom: -30em;
}

div.leadText {
    margin-top: -30em;
    margin-left: 10em;   
}

div.leadText p {
    font-weight: 400;
}

@media (max-width: 768px) {
    div.leadText {
        margin-left: 2em;
    }
}

@media (max-width: 30em) {

    div.jumbotron-custom {
        height: auto;
    }

    div.leadBubble {
        height: 15em;
        width: 15em;
        border-radius: 7.5em;
        margin-bottom: -15em;
    }

    div.leadText {
        margin-top: -15em;
    }
}

/* content sections */
div.row h2 {
    border-bottom: 1px solid #000000;
}

div.row i{
    margin: 10px 0 10px 0;
}

/*footer*/
div.footer {
    background: url("../img/background-7.png");
    text-align: center;
    vertical-align: middle;
    padding: 50px 0 50px 0;
    color: #FFFFFF;
}