<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
            {{# whiteLogo}}
                <img class='logo' alt="GRIFFIN Collaboration" src="img/branding/GRIFFIN_Logo_White.png"></img>
            {{/ whiteLogo}}
            {{^ whiteLogo}}
                <img class='logo' alt="GRIFFIN Collaboration" src="img/branding/GRIFFIN_Logo_Black.png"></img>
            {{/ whiteLogo}}
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li id='linkOverview'><a href="index.html">Overview</a></li>

            <li id='linkPhysics' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Physics<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="physics.html">Physics Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="physics.html#nuclearStructure">Nuclear Structure</a></li>
                    <li><a href="physics.html#superallowed">Superallowed &beta; Decay</a></li>
                    <li><a href="physics.html#radonEDM">Radon EDM</a></li>
                    <li><a href="physics.html#decayModes">Nuclear Decay</a></li>
                    <li><a href="physics.html#glossary">Glossary</a></li>

                </ul>
            </li>

            <li id='linkCollaboration' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collaboration<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="collaboration.html">Collaboration Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="collaboration.html#steeringCommittee">Steering Committee</a></li>
                    <li><a href="collaboration.html#ediCommittee">EDI Committee</a></li>
                    <li><a href="collaboration.html#collaborationBylaws">Collaboration Bylaws</a></li>
                    <li><a href="collaboration.html#constructionOrganization">Construction Organization</a></li>
                </ul>
            </li>

            <li id='linkHardware' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hardware<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="hardware.html">Hardware Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="hardware.html#tape">Moving Tape Collector</a></li>
                    <li><a href="hardware.html#hpge">HPGe Detectors</a></li>
                    <li><a href="hardware.html#sceptar">SCEPTAR</a></li>
                    <li><a href="hardware.html#labr">LaBr<sub>3</sub> (Ce)</a></li>
                    <li><a href="hardware.html#paces">PACES</a></li>
                    <li><a href="hardware.html#descant">DESCANT</a></li>
                </ul>
            </li>

            <li id='linkDAQ' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DAQ<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="daq.html">DAQ Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="daq.html#grif16">GRIF-16 Digitizer</a></li>
                    <li><a href="daq.html#grif4G">GRIF-4G Digitizer</a></li>
                    <li><a href="daq.html#collector">Collectors</a></li>
                    <li><a href="daq.html#clock">Clocks</a></li>
                    <li><a href="daq.html#ppg">PPG</a></li>
                </ul>
            </li>

            <li id='linkToolkit' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Web Toolkit<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="toolkit.html">Toolkit Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://griffincollaboration.github.io/SpectrumViewer/spectrumViewer.html">Spectrum Viewer</a></li>
                    <li><a href="http://griffincollaboration.github.io/SpectrumViewer/rateMonitor.html">Rate Monitor</a></li>
                    <li><a href="http://griffincollaboration.github.io/efficiencyCalculator/">Efficiency Calculator</a></li>
                    <li><a href="http://griffincollaboration.github.io/data-spy/">Data Spy</a></li>
                    <li><a href="http://griffincollaboration.github.io/beamCompanionExplorer/companionExplorer.html">Beam Companion Explorer</a></li>
                    <li><a href="http://griffincollaboration.github.io/AngularCorrelationUtility/">Angular Correlation Calculator</a></li>
                    <li><a href='https://github.com/GRIFFINCollaboration/GRSISort'>GRSISort analysis software</a> </li>
                    <li><a href='https://adamgarnsworthy.github.io/griffin-angle-mapper/griffin-angle-mapper.html'>GRIFFIN angle mapper</a> </li>
                </ul>
            </li>

            <li id='linkPublications'><a href="publications.html">Publications</a></li>
	    
            <li id='linkTheses'><a href="theses.html">Theses</a></li>

            <li id='linkBranding'><a href="branding.html">Logos</a></li>

        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->