<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            {{# whiteLogo}}
                <img class='logo' alt="GRIFFIN Collaboration" src="img/logo.gif"></img>
            {{/ whiteLogo}}
            {{^ whiteLogo}}
                <img class='logo' alt="GRIFFIN Collaboration" src="img/logo-black.png"></img>
            {{/ whiteLogo}}
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li id='linkOverview'><a href="index.html">Overview</a></li>

            <li id='linkPhysics'><a href="#">Physics</a></li>

            <li id='linkCollaboration' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collaboration<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="collaboration.html">Collaboration Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="collaboration.html#steeringCommittee">Steering Committee</a></li>
                    <li><a href="collaboration.html#collaborationBylaws">Collaboration Bylaws</a></li>
                    <li><a href="collaboration.html#constructionOrganization">Construction Organization</a></li>
                </ul>
            </li>

            <li id='linkHardware' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hardware<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="hardware.html">Hardware Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="hardware.html#tape">Moving Tape Collector</a></li>
                    <li><a href="hardware.html#hpge">HPGe Detectors</a></li>
                    <li><a href="hardware.html#sceptar">SCEPTAR</a></li>
                    <li><a href="hardware.html#labr">LaBr<sub>3</sub> (Ce)</a></li>
                    <li><a href="hardware.html#paces">PACES</a></li>
                    <li><a href="hardware.html#descant">DESCANT</a></li>
                    <li><a href="hardware.html#vandle">VANDLE</a></li>

                </ul>
            </li>

            <li id='linkDAQ'><a href="#">DAQ</a></li>

            <li id='linkLogos'><a href="#">Logos</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->