<tr>
    <td>Title</td>
    <td>Authors</td>
    <td>Journal Link</td>
    <td>Open-source Link</td>
</tr>

{{# publications}}
    <tr>
        <td class='col-md-4'>{{title}}</td>
        <td class='col-md-4'>{{authors}}</td>
        <td class='col-md-4'><a href={{link}}>{{linkTitle}}</a></td>
        <td class='col-md-4'><a href={{openLink}}>{{openLinkTitle}}</a></td>
    </tr>
{{/ publications}}
