<tr>
    <td>Title</td>
    <td>Authors</td>
    <td>Link</td>
</tr>

{{# publications}}
    <tr>
        <td>{{title}}</td>
        <td>{{authors}}</td>
        <td><a href={{link}}>{{linkTitle}}</a></td>
    </tr>
{{/ publications}}
