<tr>
    <td>Title</td>
    <td>Authors</td>
    <td>Link</td>
</tr>

{{# publications}}
    <tr>
        <td class='col-md-4'>{{title}}</td>
        <td class='col-md-4'>{{authors}}</td>
        <td class='col-md-4'><a href={{link}}>{{linkTitle}}</a></td>
    </tr>
{{/ publications}}
